.ft{
    background-color: black;
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

@media screen and (max-width:480px) {
    .ft{
        display: none;
    }
}